**1-Write a Python program to calculate the length of a string using 2 ways

In [113]:
s='abcd'
print(len(s))

4

In [114]:
s = 'abcd'
length = 0
for i in s:
    length+=1
print(length)

4


**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [115]:
s = 'w3resource'
print(s[0]+s[1]+s[-2]+s[-1])

w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [116]:
s = 'playing'
if len(s) >=3:
    if s[-3:] == 'ing':
        print(s+'ly')
    else:
        print(s+'ing')

playingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [117]:
list1  = ['aaaa','b','cc']
longest_word = max(list1, key=len)

print(len(longest_word))

4

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [118]:
s = 'abce'
s[-1]+s[1:-1]+s[0]

'ebca'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [119]:
s = '0123456789'
s1 = ''
for i in range(0,len(s),2):
    s1+=s[i]
print(s1)

02468

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [120]:
def count_words(sentence):
  counts = {} 
  words = sentence.split() 
  for word in words: 
    if word in counts: 
      counts[word] += 1 
    else: 
      counts[word] = 1 
  return counts 

sentence = "amr and ahmed are frindes but amr is the tallest"
counts = count_words(sentence)
print(counts)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [121]:
s = 'aBcd'
print(s.upper())
print(s.lower())

ABCD
abcd

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [122]:
s = 'abcd'
if len(s) % 4 == 0:
    print(s[::-1])

dcba

**10- Write a Python program to remove a newline in Python

In [123]:
s = input()
print(s.rstrip("\n"))

**11-Write a Python program to check whether a string starts with specified characters

In [124]:
specified_characters = ['a','b','c']
s = 'a123465'
if s[0] in specified_characters :
    print("yes")

yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [125]:
def add_prefix(string, prefix):
  lines = string.splitlines()
  new_lines = []
  for line in lines:
    new_lines.append(prefix + line)
  return "\n".join(new_lines)



string = """hello1
hello2"""
prefix = "PREFIX: "
new_string = add_prefix(string, prefix)
print(new_string)

PREFIX: hello1
PREFIX: hello2

**13-Write a Python program to print the following numbers up to 2 decimal places

In [126]:
n = float(12.23551)
print(f'{n:.2f}')

12.24

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [127]:
n = float(-12.23551)
print(f'{n:.2f}')

-12.24

**15-Write a Python program to display a number with a comma separator

In [128]:
s = 1234588676
print(format(s, ","))

1,234,588,676

**16-Write a Python program to reverse a string using 2 ways

In [129]:
s= 'abcd'
print("way1 :",s[::-1])

print("way2 : " ,end = "")
for i in range(len(s)-1,-1,-1):
    print(s[i],end="")

way1 : dcba
way2 : dcba

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [130]:
def count_words(sentence):
  counts = {} 

  for digt in sentence: 
    if digt in counts: 
      counts[digt] += 1 
    else: 
      counts[digt] = 1 
  return counts 

sentence = "abbaaaacefadc"
counts = count_words(sentence)
print(counts)

{'a': 6, 'b': 2, 'c': 2, 'e': 1, 'f': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [131]:
s = 'abbaaaacefadc'
for i in s:
    if s.count(i) < 2:
        print(i) 
        break

e

**19-Write a Python program to remove spaces from a given string

In [132]:
s= ' a  b  c'
print(s.replace(" ",""))

abc

**20-Write a Python program to count the number of non-empty substrings of a given string

In [133]:
def count_substrings(s):
    n = len(s)
    count = 0

    for i in range(n):
        for j in range(i+1, n+1):
            count += 1

    return count


input_string = "123"
result = count_substrings(input_string)
print(result)

6

**21-write a Python program to swap first and last element of any list.

In [134]:
l = [1,2,3,4,5,6]
temp = l[0]
l[0] = l[-1]
l[-1] = temp
print(l)

[6, 2, 3, 4, 5, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [135]:
l = [23,65,19,90]
pos1 = 1
pos2 = 3
temp = l[pos1-1]
l[pos1-1] = l[pos2-1]
l[pos2-1] = temp
print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

**24-write a Python code to find the Maximum number of list of numbers.

In [136]:
l = [1,2,3,4,5,6]
print(max(l))

6

**25-write a Python code to find the Minimum number of list of numbers.

In [137]:
l = [1,2,3,4,5,6]
l = sorted(l,reverse=True)
print(l[0])

6

**26-search for if an elem is existing in list

In [138]:
l = [1,2,3]
ele = 1
if ele in l:
    print('yes')

yes

**27- clear python list using different ways

In [139]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list) 

my_list = [1, 2, 3, 4, 5]
my_list = []
print(my_list)  

my_list = [1, 2, 3, 4, 5]
while my_list:
    my_list.pop()
print(my_list) 

my_list = [1, 2, 3, 4, 5]
del my_list[:]
print(my_list)

[]
[]
[]
[]

**28-remove duplicated elements from a list

In [140]:
my_list = [1,1,1,3,3,3, 2, 3, 4, 5]
print(*set(my_list))

1 2 3 4 5

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [141]:
my_list = [1,1,1,3,3,3, 2, 3, 4, 5]
counter = 0
for i in my_list:
    if my_list.count(i) < 2:
        counter+=1
print('way1 : ',counter)

from collections import defaultdict
unique_values = defaultdict(int)
for value in list1:
    unique_values[value] += 1
print('way2 : ',len(unique_values))

way1 :  3
way2 :  3

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [142]:
my_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
counter = []
for i in my_list:
    if my_list.count(i) >= k:
        if i not in counter:
            counter.append(i)
print(counter)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [143]:
a1 = [1, 2, 2, 3, 4, 5]
a2 = []
for i in range(len(a1) - 1):
    max_neighbor = max(a1[i], a1[i + 1])
    a2.append(max_neighbor)
print(a2)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [144]:
l = [1,2,3]

digits = [1, 2, 3]

import itertools
for i in itertools.permutations(digits):
    print(*i, end="\n")

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [1]:
test_list = [1, 2, 3]
import itertools

for i in range(1, len(test_list) + 1):
    for c in itertools.combinations(test_list, i):
        print(list(c))

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
unique_combination = {}
list_1 = ['a','b']
list_2 = [1,2]

unique_combinations = []
for item_1 in list_1:
    for item_2 in list_2:
      combination = (item_1, item_2)
      if combination not in unique_combinations:
        unique_combinations.append(combination)
print( unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [ ]:
nums = [1, 1, 2, 3, 4, 5, 1, 2, 1]
elem = 1
result = [x for x in nums if x != elem]

print(result)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] 
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
l1 = ['Gfg', 'is', 'best'] 
l2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
res = []
for i in l2:
    res.append(l1[i])
print(res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
for i in test_list:
    if i.count(K) == N:
        print(i)

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(3):
        sorted_array = sorted(array, key=lambda x: x[i])
        print(sorted_array)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(sorted(dict))

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_items = sorted(dict.items(), key=lambda x: x[1])
print(sorted_items)

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dict4 = {**dic1, **dic2, **dic3}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
for k,v in dict4.items():
    print(k," ",v)

1   10
2   20
3   30
4   40
5   50
6   60

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}


dict4 = {**dic1, **dic2}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
max( dict4.values())

40

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {k: v for k, v in original_dict.items() if v is not None}

print(new_dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
t = (1,2,34,56,7)
print(t[2])

34

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
print(*t)

1 2 34 56 7

**49-Write a Python program to add an item to a tuple

In [ ]:
my_tuple = (1, 2, 3)
new_item = 4
new_tuple = my_tuple + (new_item,)
print(new_tuple)

(1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:
my_tuple = ('Hello', 'World')
my_string = ' '.join(my_tuple)

print(my_string)

Hello World

**51-Write a Python program to convert a list to a tuple

In [ ]:
l = [1,2,3,4,5,6]
print(tuple(l))

(1, 2, 3, 4, 5, 6)

**52-Write a Python program to reverse a tuple

In [ ]:
n_t = t[::-1]
print(n_t)

(7, 56, 34, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:

sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_list = [t[:-1] + (100,) for t in sample_list]


print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
s = 'python3.0'
print(tuple(s))

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
big_t = ((10, 20, 40), (40, 50, 60), (70, 80, 90))
for t in big_t:
    print(sum(t)/len(t))

23.333333333333332
50.0
80.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
my_set = {1, 2, 3}
new_members = [4, 5, 6]
my_set.update(new_members)

print( my_set)

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
item = 3
my_set.discard(item)

print( my_set)

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
union = set1.union(set2)
difference = set1.difference(set2)
symmetric_difference = set1.symmetric_difference(set2)


print( intersection)
print( union)
print(difference)
print(symmetric_difference)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
print(max(set1))
print(min(set1))

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
nums = [2,7,11,15]
target = 9
l = len(nums)
for i in range(l):
    n = target -nums[i] 
    if n in nums :
        m = nums.index(n)
        if m != i:
            print([i , nums.index(n)])

[0, 1]
[1, 0]