# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [54]:
chipo = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [55]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [56]:
chipo.shape

(4622, 5)

In [57]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [58]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [59]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [60]:
item_quantities  = chipo.groupby('item_name')['quantity'].sum()
item_quantities.sort_values(ascending= False ,inplace=True)
print(item_quantities[:5])

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [61]:
item_quantities  = chipo.groupby('item_name')['order_id'].sum()
item_quantities.sort_values(ascending= False ,inplace=True)
print(item_quantities[:5])

item_name
Chicken Bowl           713926
Chicken Burrito        497303
Chips and Guacamole    449959
Steak Burrito          328437
Canned Soft Drink      304753
Name: order_id, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [62]:
choice_counts = chipo['choice_description'].value_counts()
choice_counts.sort_values(ascending=False , inplace=True)
choice_counts[:5]

choice_description
[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: count, dtype: int64

### Step 12. How many items were orderd in total?

In [63]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [64]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [65]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$',"")))

#### Step 13.c. Check the item price type

In [66]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [70]:
chipo['total_amount'] = chipo['quantity'] *chipo['item_price']
chipo['total_amount'].sum()

39237.02

### Step 15. How many orders were made in the period?

In [71]:
len(chipo['order_id'])

4622

### Step 16. What is the average revenue amount per order?

In [72]:
chipo['total_amount'].mean()

8.48918649935093

In [68]:
# Solution 2

### Step 17. How many different items are sold?

In [73]:
len(chipo['item_name'].unique())

50